*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: hsl(0, 3%, 93%);
    --black: #FF5900;
    --tertiary: rgb(0, 0, 0, 0.5);
    

}

/* Category */
.category {
    width: 100%;
  }
  .headerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   .categoryProductImage img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding: 5px;
  }
  
  .categoryFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  
  .categoryMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .categoryProduct {
    background: var(--primary);
    border-radius: 20px;
    height: 80px;
    width: 100%;
    box-shadow: 5px 7px var(--tertiary);
    color: black;
  }
  
  .categoryProductImage {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }
  
  
/* Frame 3 */

a{
    text-decoration: none;
}
button{
    background: transparent;
    border: solid 1px var(--black);
    color: var(--black);
    padding: 5px;
    border-radius: 3px;
    margin: 4px 0;
}
.unavailablebutton{
    border: solid 1px var(--tertiary);
    color: var(--tertiary);
}
h1{
    color: var(--black);
}
.heading, h1{
    font-size: 24px;
}

/* //special classes */

section .container-fluid{
    padding: 5% 8%;
}
.subhead, h3{
    font-size: 18px;
    margin: 0;
}
nav .container-fluid{
    padding: 1% 8%;
}
.background{
    background-image: url('/src/assets/WhatsApp\ Image\ 2024-09-08\ at\ 07.37.12.jpeg');
    background-size: cover;
    background-position: center;
    color: var(--primary);
    height: 80vh;
    width: 100%;
    padding: 0%;
}
@media (max-width:767px) {
    .background{
        height: 40vh;
    }
}

.sacramento{
    font-family: 'Sacramento', cursive;
    font-size: 40px;

}


/* //special classes special lasee */

nav{
    background: var(--primary);
}

.nav-link{
    font-weight: bold;
    text-transform: capitalize;
    
}
.navbar-brand, .nav-link{
    color: var(--black);
}



/* //header header-section */
.header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header > div{
    width: 90%;
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
}
@media (max-width:767px) {

}





/* //listings listings css */
#list{
    min-height: 70vh;
}   /* for id temp sake of footer */
.listRow{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    gap: 1.5rem;
    margin-top: 20px;

}


.list-grid{
    border: solid 1px var(--black);
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
    color: var(--black);
    
}
.unavailable{
    border: solid 1px var(--tertiary);
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
    color: var(--tertiary);
  }


.gridProduct{
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0
}
.listing-details {
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
   
    
}
.list-image{
    overflow: hidden; 
    height: 70%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
   
}
.carImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
} /* image resizing */

.list-footer{
    display: flex;
    justify-content: space-between;
    background: var(--black); 
}
.unavailablefooter{
    display: flex;
    justify-content: space-between;
    background: var(--tertiary); 
}

.list-footer div, .unavailablefooter div{
    border-right: solid 1px var(--primary);
    color: var(--primary);
    padding:  2% 3%;
    text-align: center;
    
}
@media (max-width:767px) {

}





/* register regeistration sign up */

.registerForm{

    width: 100%;
    border-radius: 10px;
}

.registerForm input, #upload input, textarea{
    width: 100%;
    padding: 3px;
    border-radius:4px;
}


 form button{
    width: 100%;
    padding: 7px 5px;
    border-radius: 5px;
    background: var(--black);
    color: white;
    margin-top: 30px;
}


.availSectiondiv{
    background: var(--primary);
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;

    
    
}
.availSectiondiv form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.availSection{
    margin-top: -5%;
}


/* //footer footer */
#footer {
    background: rgb(41, 41, 41);
    color: var(--primary);
    /* color: black; */
  }
  
  #footer input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 7px 10px;
    margin: 2px 0;
  }
  
  .footerFlex{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
@media (max-width:767px) {
    
}
#upload input{

    margin: 2px 0;

}

/* 
;loader */
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#ffa516);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }

  .available{

  }

